body {
    cursor: crosshair;
    background-image: url("https://d2w9rnfcy7mm78.cloudfront.net/11117143/original_e9df3b6b76493a8f03a837ebe5e59c86.png?1615401752?bc=0");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

h1{
position: relative;
color: white;
top: 33.33%;
font-family: 'Fredoka One', cursive;
font-size: 7vw;
}



@media screen and (max-width: 600px) {
 background-image: url("https://media.istockphoto.com/photos/close-up-of-white-baby-donkey-picture-id180736209?k=6&m=180736209&s=170667a&w=0&h=K9B98C01UwFNfg46PWWy87643SgXSlSdyzuezHzkBNg=");
 background-size: contain;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
};
   
